{% extends "layout.html" %} {% block body %}
<h1>Welcome to Car Prediction</h1>
<form method="post" action="/compute">
  <div>
    <input
      autocomplete="off"
      autofocus
      required
      placeholder="Present Price"
      name="Present_Price"
      type="text"
    />
  </div>
  <div>
    <input
      placeholder="Kms Driven"
      type="type"
      name="Kms_Driven"
      id="Kms_Driven"
      required
      autofocus
    />
  </div>
  <div>
    <input
      placeholder="Fuel Type"
      type="type"
      name="Fuel_Type"
      id="Fuel_Type"
      required
      autofocus
    />
  </div>
  <div>
    <input
      placeholder="Seller Type"
      type="type"
      name="Seller_Type"
      id="Seller_Type"
      required
      autofocus
    />
  </div>
  <div>
    <input
    autofocus
      placeholder="Transmission"
      type="type"
      name="Transmission"
      id="Transmission"
      required
    />
  </div>
  <div>
    <input
      autofocus
      placeholder="age of car"
      type="type"
      name="age_of_the_car"
      id="age_of_the_car"
      required
    />
  </div>
  <div><input type="submit" value="Predict" /></div>
</form>
<!-- <div>
  <strong> <span style="color: #0a0506">{{ prediction_text }}</span></strong>
</div> -->
{% endblock %}
